.carousel-control-prev,
.carousel-control-next{
  align-items: flex-start ; /* Aligns it at the top */
  top: 50%;
  height: 3rem;
  width: 3rem;
  outline: black;
  background-size: 10%, 10%;
  border-radius: 10%;
  border: 1px solid black;
  background: white;
  filter: invert(100%);
}

.carousel-control-next:after
{
  content: '>>';
  font-size: 2rem;
  color: red;
}

.carousel-control-prev:after 
{
  content: '<<';
  font-size: 2rem;
  color: red;
}

.bg-dark,.bg-primary{
  color: whitesmoke;
}

div.sticky{
  position: fixed;
  right: 0;
  padding: 2% 2% 2% 2%;
}

h2,h3{
  text-align: center;
  justify-items: center;
}

.card-header{
  font-weight: bolder;
}